*.pyc
.coverage
.idea
*.sublime-project
*.sublime-workspace
*.sqlite3
*.out
*.config
*.log
*.bck
.python-version
code-reports
ssl-config
.git-stats-src
uwsgi_config.ini
newrelic.ini
build
Readme-gen.md
